
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Single+Day&family=Sunflower:wght@700&display=swap'); 
*{
    font-family: 'Sunflower', sans-serif;
    color : orange;
}    
body {
    background-color: beige;
}
section {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.word {
    font-size: 40px;
    font-weight: bold;
}
.box{
    height: 50px;
    background-color: white;
    display: flex;
    padding: 40px;
    border-radius: 40px;
    margin-bottom: 40px;
    justify-content: center;
}

h3 {
    font-size: 27px;
}
.card {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    background-color: orange;
    margin-right: 20px;
    color: white;
}
.card:last-child {
    margin-right: 0;
}
button{
    padding: 20px;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 10px;
    margin-right: 20px;
}
#nextBtn {
    margin-right: 0;
}






.draggingCard {
    border: 1px solid;
    border-color: red;
}
.overCard {
    background-color: orange;
}
.overBox {
    border: 3px solid brown;
}