
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Single+Day&family=Sunflower:wght@700&display=swap'); 
*{
    font-family: 'Sunflower', sans-serif;
    color : orange;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}    
body {
    background-color: beige;
}
/* ////////////////////////////////////////////////////// header */
header {
    background-color: white;
    padding: 30px 0;
}
nav {
    line-height: 60px;
    width: 960px;
    margin: 0 auto;
    display: flex;
    position:relative;
}
h1 { 
    font-size: 30px;
    margin-right: 30px;
}
nav ul {
    display : flex;
}
nav ul li a {
    padding: 30px;
}
nav li a:hover{
    text-decoration: underline wavy #C5C5E6;
    text-underline-offset : 5px;
}
.inputZone {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}
.inputZone input {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: beige;
    padding-left: 20px;
    margin-left: 10px;
}
input:focus {
    outline: 1px solid brown;
}
#logoutID {
    width: auto;
    height: 20px;
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: 30px;
} 
.inputZone span {
    display: inline-block;
    font-size: 20px;
    color: red;
}
/* ////////////////////////////////////////////////////// section */
section {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.word {
    font-size: 40px;
    font-weight: bold;
}
.box{
    height: 50px;
    background-color: white;
    padding: 40px;
    justify-content: center;
    border-radius: 40px;
    margin-bottom: 40px;
    display: flex;
}
h3 {
    font-size: 27px;
    margin-bottom: 40px;
}
.wordZone {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.wordZone img {
    width: 90px;    
    position: relative;
    top: -24px;
}

.word {   /* 한글 노래 출력하는 태그*/
    width: 500px;
}
.card {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    background-color: orange;
    margin-right: 20px;
    color: white;
}
.card:last-child {
    margin-right: 0;
}

button{
    padding: 20px;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 10px;
    cursor: pointer;
    animation-duration: .2s;
    margin-right: 20px;
}

.plays {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.remain {
    font-size: 15px;
    color: red;
    position: relative;
    top: 10px;
}
.plays h3 {
    margin: 0px 50px;
}
/* ////////////////////////////////////////////////////// aside */
aside {
    width: 300px;
    /* height: 300px; */
    position: absolute;
    bottom: 230px;
    left: -200px;
    width: 100px;
}

#songBtn {
    border: none;
    border-radius: 50%;
    background-color: white;
    margin-top: 20px;
}
.songList {
    height: 000px;
    visibility: hidden;
    /* background-color: white; */
    opacity: 0;
    transition: .8s;
    overflow: hidden;
}
.songList li {
    border-radius: 50%;
    height: 100px;
    background-color: white;
    margin: 20px 0;
}
.songList li img {
    margin-top: 15px;
}
.songList li:last-child img {
    border-radius: 50%;
    position: relative;
    top: -15px;
} 
.songList li:last-child  p{
    position: relative;
    top: -50px;
}
/* ////////////////////////////////////////////////////// btnBox */
.btnBox {
    display: flex;
    justify-content: center;
}
#aviTimeBtn {
    margin-right: 100px;
}
#nextBtn {
    margin-right: 0;
}
/* ////////////////////////////////////////////////////// submitWindow */
.submitWindow {
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    border: thin solid grey;
    text-align: center;
    box-shadow: 2px 2px rgb(183, 183, 183);
    position: relative;
    bottom: 400px;
    margin: 0 auto;
    z-index: 2;
}
.submitWindow img {
    display: block;
    margin: 0 auto;
    padding: 20px 0 ;
}
.submitWindow span {
    margin-right: 30px;
    font-size: 20px;
}
/* ////////////////////////////////////////////////////// positionBox */
.positionBox {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2061px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
/* ////////////////////////////////////////////////////// footer */
footer {
    background-color: white;
    margin-top: 100px;
    padding: 15px 0;
}
footer .wrap {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
footer .wrap img {
    margin-top: 25px;
}
footer .wrap p {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 24px;
}
footer .wrap div:last-child {
    border: none;
    margin: 0;
    padding: 0;
} 
footer a:hover {
    background-color: #d8d8e6;
}
/* ////////////////////////////////////////////////////// scriptEvent */
.draggingCard {
    border: 1px solid;
    border-color: red;
    background-color: red;
}
.overCard {
    background-color: orange;
}
.overBox {
    border: 3px solid brown;
}
.marginBox {
    margin: 0px 50px;
}
.hidden {
    visibility: hidden;;
}
.none {
    display: none;
}
.block {
    display: block;
}
.toggleEvent {
    visibility: visible;
    height: 300px;
    opacity: 1;
    transition: 1s;
}



